
html, body {
    text-align: center;
}
head {
    
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif
    size 13px;
    color: #061c37;
    background-color: #FFFFFF;
}
nav {
    display: block;
    height: auto;
    position: relative;
    overflow: hidden;
    width: 670px;
}
*{
    cursor: default !important;
    margin: 0 auto 0 auto;
    text-align: left;
}

.topNaviagationLink{
    text-align: center;
    position: relative;
    margin-top: 30px;
    width:121px;
    height: 35px;
    line-height: 35px;
    float: left;
    color: #000;
}
.topNaviagationLink a {
    text-decoration: none;
    color: #000000;
    margin-bottom: 0px;
    border-bottom: dashed 1px;
}


#mainPicture{
    clear: both;
    width: 670px;
    height: 345px;
    background-color: #160306;
}
#mainPicture .picture {
    position: relative;
    width: 650px;
    height: 325px;
    top: 10px;
    margin-left: 10px;
    background-image: url(imagesabana.jpeg);
    background-repeat: no-repeat;
}
#headerTitle{
    position: relative;
    text-align: left;
    top: 14px;
    left: 22px;
    font-size: 27px;
    color: #FFFFFF;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#headerSubtext{
    position: relative;
    text-align: left;
    top: 12px;
    left: 22px;
    font-size: 14px;
    color: #25060B;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contentBox{
    margin-top: 10px;
    width: 670px;
    height: auto;
    background-color: #160306;
    padding-bottom: 20px;
}
.contentBox .innerBox {
    margin-left: 10px;
    position: relative;
    width: 650px;
    height: auto;
    top: 10px;
    background-image: url ;
    background-color: #FFFFFF;
    background-repeat: repeat-x;
}
h1{
    font-size: 25px;
    margin-bottom: 10px;
    padding-top: 18px;
    margin-left: 15px;
    margin-top: 15px;
    color: #1F1603; 
}
.contentText {
    font-size: 13px;
    line-height: 24px;
    margin-left: 13px;
    margin-right: 13px;
}
blockquote {
    font-size: 12px;
    text-align: justify;
    width: 400px;
    color: #000000;
    padding: 15px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./img/blockquote.png);
    background-repeat: no-repeat;
    border: dashed 1px;
    border-color: #C87002;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

#footer {
    text-align: center;
    padding-top: 30px;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    color: #C87002;
    margin: 0px;
}
#footer a {
    color: #C87002;
    text-decoration: none;
    font-size: 9px;
}

